header {
    background-color: rgb(39, 39, 39);
    padding: 0 50px;

    height: 50px;
}

.header-cont {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.links {
    order: 3; 
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto; 

    height: 50px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.search-block {
    order: 2;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    width: 30%;
    max-width: 640px;
    display: flex;
    gap: 8px;
    align-items: center;

    padding: 3px;
    background-color: #2563eb;
    border-radius: 3px;
}

.search-block input[type="search"] {
    flex: 1;
    padding: 0.45rem 0.6rem;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
}

.search-block button {
    padding: 0.45rem 0.8rem;
    background-color: #2563eb; /* blue */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.GEKKI-Logo {
    order: 1; 
    display: flex;
    align-items: center;
}

.GEKKI-Logo .logo {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.links a:hover {
    color: rgba(229, 255, 0, 0.575);
}

.login, .register {
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

.login {
    background-color: green;
    
}

.register {
    background-color: rgb(129, 0, 0);
}

@media (width < 1050px) {
    header {
        padding: 0 20px;;
    }
}